@model CodeBooks.Models.Codes.Codes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Codes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codebook.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
